<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find turobot_control)/config/turobot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/turobot" args="joint_state_controller left_front_hinge_effort_controller right_front_hinge_effort_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find turobot_description)/urdf/turobot.urdf'" />
    <remap from="/joint_states" to="/turobot/joint_states" />
  </node>

</launch>   

